@charset "utf-8";
.yuji-syuku-regular {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
/*-----  共通設定 -----*/
* {
    box-sizing: border-box;
}
body {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

img {
    display: block;
}

/*----- HEADER MV -----*/
body {
    background-color: #EEE;
}

h1 img {
    width: 10%;
    margin: 0 auto;
    mix-blend-mode: multiply;
}

.mv-area img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/*-----  SECTION 共通-----*/
section {
    width: 100%;
    padding: 40px 0;
}
section:nth-of-type(1) {
    background-color: #EEE;
}
section:nth-of-type(2) {
    background-image: url(../img/manaita.jpeg);
}
section:nth-of-type(3) {
    background-color: #EEE;
}

.menu {
    width: 90%;
    margin: 0 auto;
}

.menu-img img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

button[type="reserve"] {
    background-color: #ce2d22;
    display: block;
    width: 300px;
    margin-top: 40px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    border-radius: 30px; 
}

button[type="reserve"]:hover {
    background: #f38686;
}

h2 {
    border-bottom: 4px solid #fff;
    color: black;
    width: 70%;
    margin: 0 auto 30px;
    text-align: center;
}

p {
    margin-bottom: 40px;
    color: black;
    width: 70%;
    margin: 0 auto ;
    text-align: center;
}

/*----- LIST -----*/
.menu-name {
    display: flex;
    justify-content: space-around;
}

.menu-img {
    display: flex;
    justify-content: space-around;  
}

.menu-button {
    display: flex;
    justify-content: space-around; 
}

.neta {
    margin-bottom: 20px;
    color: black;
    font-size: 30px;
    border-left: double 7px white;
    border-right: double 7px white;
    padding: 0 1em;
    text-align: center;
    width: 300px;
    
}


/*----- TABLE -----*/
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    background: #fff;
}
th,td {
    padding: 1em;
    border: 1px solid #3d5a6c;
    color: #3d5a6c;
}
th {
    background-color: #bfe1f6;
}
/*----- FORM(続きは8/28) -----*/
form {
    width: 70%;
    margin: 0 auto;
}

form dt {
    margin-bottom: 20px;
}

form dt,
form label {
    color: black;
}

form dt::before {
    content: "◆";
    margin-right: 10px;
    color: black;
}

form dd {
    margin-bottom: 40px;
    margin-left: 0;
}

input {
    width: 100%;
    border: none;
    padding: .5em;
    font-size: 1.1em;
}

input[type="radio"] {
    width: 1em;
    margin-left: 24px;
    margin-right: 4px;
}

button[type="submit"] {
    background-color: #ce2d22;
    margin: 40px auto 0;
    display: block;
    width: 70%;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.form-img-area img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*----- FOOTER -----*/
footer {
    padding: 20px;
    text-align: center;
    font-size: .9em;
}

address {
    font-style: normal;
}

address,small {
    margin-bottom: 10px;
    color: #2f4858;
}

















/*-----  -----*/
